*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.f{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
.b{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 35px;
    border-radius: 10px;
    width: 25%;
    height: 60vh;
}

label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
   

}
input::placeholder {
    font-size: 14px;
    font-weight: bold;
    opacity: 0.5;
    color: gray;
    padding: 5px;
    
  }
  .shake {
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
  
    animation: shake 0.5s ease-in-out forwards;
    animation-iteration-count: 1;
  }
  
  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
      transform: translateX(10px);
    }
  }

  @media only screen and (max-width: 1200px) {
    .b{
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      padding: 35px;
      border-radius: 10px;
      width: 40vw;
      height: 60vh;
  }
  }

  @media only screen and (max-width: 600px) {

    .b{
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      padding: 35px;
      border-radius: 10px;
      width: 70vw;
      height: 60vh;
  }
  

  }